{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shop</title>
        <!--Bootstrap-->
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

        <!-- Custom styles -->
        <link rel="stylesheet" href="{% static 'landing.css' %}">


        <style>
            html, body{
                height: 100%;
                max-height: 100%;
            }

            .top-container{
                margin-top: 10%;
                margin-left: 30%;
            }

            .form-group {
                margin-right: 10px;

            }
        </style>


    </head>
    <body>
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col -lg-offset-2">
                    <h1 class="title">Наш магазин скоро відкриється</h1>
                    <h1 class="title">Залишайте свої дані в формі</h1>
                    <span class="badge badge-primary">Primary</span>

                    <form action="" method="post" class="form-inline"> {% csrf_token %}
                           <div class="form-group">
                               {{ form.email }}
                           </div>
                           <div class="form-group">
                               {{ form.name }}
                           </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>

            </div>
        </div>

    </div>
    </body>
</html>
