{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shop</title>
        <!--Bootstrap-->
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

        <!-- Custom styles -->
        <link rel="stylesheet" href="{% static '/css/landing.css' %}">

    </head>
    <body>
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col -lg-offset-2">
                    <h2 class="title">Наш магазин скоро відкриється</h2>
                    <h2 class="title">Залишайте свої дані в формі</h2>
                    <span class="badge badge-primary">Primary</span>

                    <form action="" method="post" class="form-inline"> {% csrf_token %}
                           <div class="form-group">
                               {{ form.email }}
                           </div>
                           <div class="form-group">
                               {{ form.name }}
                           </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>

            </div>
        </div>

    </div>
    </body>
</html>
